doctype html
html
  head
    title="SVG SPRITE GENERATOR"
    link(rel="icon",type="image/png",href=`${virtualDirPath}/favicon.png`)
    link(rel='stylesheet', href=`${virtualDirPath}/css/main.min.css`)
  body
    block content
    script(src=`${virtualDirPath}/scripts/jquery-3.2.0.min.js`)
    script(src=`${virtualDirPath}/scripts/main.min.js`)
    script
        | WebGenerator.init('#{virtualDirPath}');
    block scripts